NODE_ENV=<env-type>
PORT=<app-port>
DB_NAME=<database-name>
DB_HOST=<database-host>
DB_USERNAME=<database-username>
DB_PASSWORD=<database-password>
DB_DIALECT=<database-dialect>
ACCESS_SECRET_TOKEN=<must-same-as-in-sparing-server-api>

ODOO_URL = <odoo-url>
ODOO_DB = <odoo-db>
ODOO_USERNAME = <odoo-account-login>
ODOO_PASSWORD = <odoo-pass-login>